@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.about_div{
    margin-top: 110px;
}
.cont_list{
    list-style: none;
    padding: 0;
}
.contact1_section .container{
    padding: 50px 10px;
}